.bx-wrapper,
.bx-viewport {
    padding:0;
    margin:0;
    border:0;
}

.bxNav {
    position: absolute;
    right: 5%;
    top: 5%;
    transform: translateY(-50%);
    z-index: 999999;
    display: flex;
    flex-direction: row;

    a {
        width: 13px;
        height: 10px;
        display: inline-block;
        background: #fff;
        opacity: .2;
        margin: 0 5px;
        border-radius: 20px;
        transition: opacity .5s, background-color .5s, width .5s;
        transition-delay: .5s, .5s, 0s;

        &.active {
            opacity: 1;
            background: #ffffff;
            width: 100px;
            transition-delay: 0s;

            .line {
                transform: translateX(-1.2rem);
                width: 1.8rem;
            }

            .number {
                opacity: 1;
            }
        }
    }

    .line {
        width: 1.5rem;
        height: 3px;
        border-radius: 2px;
        display: block;
        position: absolute;
        top: 50%;
        background: #fff;
        left: -1rem;
        transition: all 0.3s ease;
    }

    .number {
        position: relative;
        opacity: 0;
        transition: opacity 0.3s ease;
    }
}

.slider-content {

    .item {
        width: 100%;
        background-position: 0 center !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        height: 100vh !important;
        padding: 20px;

        &::before {
            content: "";
            display: block;
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: linear-gradient(to left, rgba(0, 168, 255, 0.5), rgba(185, 0, 255, 0.5));
            pointer-events: none;
        }

        .content {
            position: absolute;
            top: 20%;
            width: 50%;
            left: 5%;
            padding: 40px;
            @media screen and (max-width: 480px) {
                width: 100%;
                padding: 10px;
                left: 0;
              }

            .header {
                transition: none 0s ease 0s;
                line-height: 90px;
                border-width: 0px;
                margin: 0px;
                padding: 0px;
                letter-spacing: 0px;
                font-weight: 700;
                font-size: 5rem;
                color: #fff;
                font-family: 'Open Sans',sans-serif;
                @media screen and (max-width: 480px) {
                    font-size: 3rem;
                    line-height: 3rem;
                  }
            }

            p {
                font-family: 'Poppins',sans-serif;
                transition: none 0s ease 0s;
                line-height: 30px;
                border-width: 0px;
                margin: 0px;
                letter-spacing: 0px;
                font-weight: 400;
                font-size: 1rem;
                white-space: normal;
                opacity: 1;
                transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
                transform-origin: 50% 50% 0px;
                width: 100%;
                margin-top: 20px;
                color: #fff;
                @media screen and (max-width: 480px) {
                 
                    font-size: 1rem;
                    line-height: 1.2rem;
                  }
            }

            a.read-more-btn {
                margin-top: 80px;
                background: #3f4c99;
                color: #fff;
                border-radius: 100px;
                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                transition: all 0.3s ease;

                &:hover {
                    background: #ffb922;
                    color: #000;
                }
            }
        }
    }
}
